@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (min-width: 576px) { 
    
}
@media (min-width: 768px) { 
    .container {
        max-width: 1080px;
    }
}
@media (min-width: 850px) { 
    .container {
        max-width: 870px;
    }
}
@media (min-width: 992px) { 
    .container {
        max-width: 1080px;
    }
}

@media (min-width: 1200px) { 
    .container {
        max-width: 1380px;
    }
}
@media (min-width: 1400px) { 
    .container {
        max-width: 1500px;
    }
}

@media (min-width: 1200px) { 
    .container {
        max-width: 1380px;
    }
}
@media (min-width: 1400px) { 
    .container.big {
        max-width: 1500px;
    }
}
@media (min-width: 1500px) { 
    .container.big {
        max-width: 1600px;
    }
}

@media (min-width: 1600px) { 
    .container.big {
        max-width: 1700px;
    }
}


img {
    max-width: 100%;
}
:root {
    --primary: #D4C0AB;
}
a, a:hover {
    color: var(--blue);
}
img {
    max-width: 100%;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-content .left-header, .header-content .right-header {
    width: 100%;
    max-width: 40%;
}
.header-content .brand-header {
    width: 100%;
    max-width: 20%;
    text-align: center;
}
.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .socials {
    display: flex;
    align-items: center;
}
.header .socials a {
    margin: 0.05rem;
    max-width: 18px;
}
.header ul li, .header ul li a {
    font-size: 20px;
}
.header ul li {
    position: relative;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    padding-bottom: 0.25rem;
    position: relative;
}
.header ul li::after {
    content: "|";
    color: #000033;
    position: absolute;
    left: -4px;
    font-size: 32px;
    opacity: 0.2;
    top: 50%;
    transform: translateY(-56%);
}
.header ul li:first-child::after, .header ul li:first-child::after {
    display: none;
}
.header ul li a {
    color: black;
}

.header-menu {
    background: var(--primary);
    display: flex;
    align-items: stretch;
    min-height: 60px;

}
.language-picker {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.header-menu-content-cat  {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 50;
}
.dropdown-lang li a {
    padding: .25rem;
    color: white;
    display: flex;
    background: var(--primary);
}
.header-menu-content-cat li a {
    color: black;
    font-weight: 600;
    padding: 0 0.75rem;
}
.cart-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-header-text {
    margin-left: 0.5rem;
    font-size: 15px;
    font-weight: 600;
}
.header .header-dropdown ul li,.header .header-dropdown ul li a {
    color: #293644;
    font-size: 16px;
} 
.header .header-dropdown {
    height: 100%;
    position: fixed;
    top: 88px;
    background: white;
    left: 0;
    width: 100%;
    border-top: 2px solid #00000020;
    padding: 2rem 1.5rem;
    display: none;
    justify-content: center;
    z-index: 999;
}
.header .header-dropdown ul {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header .header-dropdown ul li {
    margin-bottom: 0.75rem;
}
.search-input {
    border: 1px solid black;
    background: var(--primary);
    width: 100%;
    max-width: 325px;
    display: flex;
    padding: 0 0.5rem
}
.search-input input {
    border: none;
    background: none;
    outline: none;
    border: none;   
    padding: .25rem 0rem;
}
.search-input input::placeholder {
    color: black;
    font-weight: 500;
    opacity: 1;
}
.right-header ul {
    justify-content: flex-end;
}
.header-menu-right {
    margin-left: auto;
    height: 100%;
}
.header-menu-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-menu-right {
    display: flex;
    align-items: center;
}
.header-menu-right form {
    margin: 0;
}
.search-input button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
}
.dropdown-lang {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
}
.dropdown-lang ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
.dropdown-lang ul li a {
    font-size: 16px;
    padding: .25rem 1rem;
    border-bottom: 1px solid white;
    font-weight: 600;
}
.dropdown-lang ul li:last-child a {
    border-bottom: 0;
} 
.dropdown-lang ul li a:hover {
    opacity: 0.9;
    text-decoration: none;
}
.dropdown-lang.active {
    display: flex;
}
.dropdown-lang-toggle {
    color: black;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 0 1rem;
}
.dropdown-lang-toggle:hover {
    color: black;
}
.dropdown-lang-toggle::after {
    content: url(../icons/arrow.svg);
    margin-left: 1rem;
    margin-right: .5rem;
}
.header-menu-content-cat-toggle {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    margin-right: 1rem;
}
.header-menu-content-cat-toggle:hover {
    color:black;
}
@media (min-width: 991px) { 
    .header-menu-content-cat-toggle {
        display: none;
    }
}
.header-menu-content-cat-toggle::after{
    content: url(../icons/arrow.svg);
    margin-left: 1rem;

}
.language-picker {
    margin-right: 2rem;
    align-items: stretch;
}
.language-picker:hover, .dropdown-lang ul li a {
    background: #B5977E;
}
.footer__item {
    margin-bottom: 2rem;
}
.footer__item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__item h3 {
    font-size: 16px;
    font-weight: bold;
}
.footer__item ul {
    display: flex;
    flex-direction: column;
}
.footer__item ul li a, .footer__item ul li{
    font-size: 14px;
    color: #686464;
    font-weight: 500;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    display: none;
}
.footer__contacts a, .footer__contacts p {
    color: #686464;
    font-weight: 500;
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.phone-footer::before {
    content: url(../icons/phone.svg);
    margin-right: 1rem;
}
.email-footer::before {
    content: url(../icons/mail.svg);
    margin-right: 1rem;
}
.footer {
    background: var(--primary);
    padding: 4rem 0;
}
.payment-logos {
    margin: 1rem 0;
    max-width: 200px;
}
.copyright {
    color: #686464;
}
.newsletter {
    padding: 2rem 0;
    border-top: 1px solid #DDDDDD;
}
.newsletter-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.newsletter-left, .newsletter-right {
    width: 100%;
    align-items: flex-start;
    max-width: 50%;
    display: flex;
}
.newsletter-text {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsletter-content {
    max-width: 900px;
    margin: auto;
}
.newsletter-big {
    color: #2C2B2B;
    font-size: 24px;
    font-weight: 600;
}
.newsletter-small {

    color: #686464;
    font-size: 14px;
}
.newsletter form {
    display: flex;
    align-items: stretch;
    margin: 0;
}
.newsletter form input {
    border: 2px solid black;
    padding: 1rem 1.5rem;
    outline: none;
    width: 100%;
}
.newsletter-left {
    justify-content: flex-start;
} 
.newsletter-right {
    justify-content: flex-end;
}
.newsletter form button {
    border: 2px solid black;
    padding: 1rem 1rem;
    outline: none;
    border-left: 0;
    background: white;
    font-weight: 500;
}
.homepage__item {
    position: relative;
}
.homepage__item--text {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.homepage__banner .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.homepage__banner .owl-theme .owl-dots .owl-dot {
    outline: none;
}
.homepage__banner .owl-theme .owl-dots .owl-dot span {
    background: white;
    opacity: 50%;
    margin: .75rem;
    width: 12px;
    height: 12px;
}
.homepage__banner .owl-theme .owl-dots .owl-dot.active span {
    opacity: 100%;
}
.homepage__item--text {
    display: flex;
    
    border: 2px solid black;
    color: black;
    background: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2.5rem;
}
.btn-clear {
    border: 2px solid black;
    color: black;
    background: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5rem 2.5rem;
    font-size: 18px;
    max-width: fit-content;
    max-width: -moz-fit-content;
}
.homepage__item--text:hover, .btn-clear:hover {
    text-decoration: none;
    color: white;
    background: black;
}
.product-card {
    max-width: 330px;
    width: 100%;
}
.product-card-image {
    height: 440px;
    position: relative;
    border-radius: 5px;
    width: 100%;
}
.product-card-image-href {
    width: 100%;
    display: block;
    height: 100%;
}
.product-card .favorite {
    position: absolute;
    top: 15px;
    cursor: pointer;
    right: 15px;
}
.product-card-image-href img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    border-radius: 5px;
}
.product-card-price {
    display: flex;  
    color: black;
    font-size: 16px;
    font-weight: 500;
    align-items: flex-end;
}
.product-card-text {
    padding: 1rem;
}
.product-card-price span.sale {
    margin-right: 1rem;
    color: #CC6262;
}
.product-card-price span.old-price {
    color: #29364450;
    text-decoration: line-through;
    font-size: 12px;
    margin-bottom: 2px;
}
.product-card-name {
    color: #2C2B2B;
    font-size: 14px;
    font-weight: 600;
}
.news-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.news-heading {
    width: 100%;
    max-width: 25%;
    padding-right: 3rem;
}
.news-heading h2 {
    font-size: 60px;
    text-align: right;
}
.news-content {
    width: 100%;
    max-width: 75%;
}
.promo {
    padding: 3rem 0;
}
.promo-image {
    display: flex;
}
.promo-image {
    width: 100%;
    max-width: 50%;
}
.promo-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.promo-text {
    width: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
}
.promo-text-content {
    max-width: 400px;
    margin: auto;
}
.promo-text h2 {
    font-size: 60px;
    font-weight: 700;
}
.account {
    padding: 3rem 0;
}
.account h1 {
    color: #293644;
    font-size: 32px;
}
.dropdown-lang ul {
    z-index: 99;
}
.account-heading {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: stretch;
}
.account-heading ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}
.account-heading ul li {
    display: flex;
    align-items: stretch;
    margin: 0 .5rem;
    border-bottom: 2px solid white;

}
.account-heading ul li:hover, .account-heading ul li.active {
    border-color: #CBAB99;
}

.account-heading ul li:hover a, .account-heading ul li.active a {
    color: #CBAB99;
    text-decoration: none;
}
.account-heading ul li a {
    color: #8F8989;
    display: flex;
    align-items: center;
}
.pagination-custom {
    display: flex;
    flex-wrap: wrap;
}
.pagination-custom a {
    width: 42px;
    height: 42px;
    border-radius: 40px;
    border: 2px solid black;
    color: black;
    margin: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
}
.pagination-custom a:hover, .pagination-custom a.active {
    background: black;
    color: white;
    text-decoration: none;
}
.account-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.bread-custom {
    padding-top: 1.5rem;
}
.bread-custom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.bread-custom ul li {
    padding-right: .25rem;
    color: #404040;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.bread-custom ul li a {
    font-size: 12px;
    color: #CC6262;
}
.bread-custom ul li::after {
    content: "/";
    margin: 0 0.5rem;
    color: #CC6262;
}
.bread-custom ul li:last-child:after {
    color: #404040;
}
.bread-custom ul li:last-child:after {
    display: none;
} 
.subpage-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background: url(../images/subpage.png);
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 0;
}
.subpage-banner::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #8a5e46;
    mix-blend-mode: multiply;
}
.subpage-banner h1 {
    color: white;
    font-weight: 600;
    font-size: 68px;
}
.catalog-filter-filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.catalog-filter-item {
    max-width: 20%;
    width: 100%;
    padding: 1rem;
}
.catalog-filter-item select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    background: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0;
    display: flex;
    align-items: center;
}
.catalog-filter-item select::after {
    content: url(../icons/arrow.svg);
    margin-left: auto;
}
@media (max-width: 1500px) { 
    .header ul li, .header ul li a {
        font-size: 16px;
    }
    .cart-header-text {
        font-size: 13px;
    }
    .header ul li::after {
        font-size: 24px;
    }
} 

@media (max-width: 1350px) { 
    .header ul li, .header ul li a {
        font-size: 14px;
    }
    .cart-header-text {
        font-size: 12px;
    }
    .header ul li::after {
        font-size: 22px;
    }
    .header-content .brand-header {
        max-width: 10%;
    }
    .header-content {
        padding: .5rem 0;
    }
    .header-content .left-header, .header-content .right-header {
        max-width: 45%;
    }
}
@media (max-width: 1200px) { 
    .news-heading h2 {
        text-align: right;
        margin-bottom: 2rem;
        font-size: 32px;
    }
    .product-card-image {
        height: 330px;
    }
    .news-content, .news-heading {
        max-width: 100%;
        padding: 0;
    }
    .header ul li, .header ul li a {
        font-size: 13px;
    }
    .product-card {
        margin: auto;
    }
    .product-card-image-href img {
        object-position: top;
    }
    .header-menu-content-cat li a {
        font-size: 13px;
        padding: 0 0.5rem;
    }
    .homepage__item {
        min-height: 350px;
    }
    .homepage__item img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
}
@media (max-width: 991px) { 
    .account-heading ul {
        display: none;
    }
    .homepage__item {
        min-height: 300px;
    }
    .header ul li::after {
        content: '';
    }
    .header-content .left-header, .header-content .right-header,.header .brand-header {
        max-width: calc(100%/3);
    }
    .header .brand-header {
        display: flex;
        justify-content: center;align-items: center;
    }
    .header .brand-header img {
        max-width: 100px;
    }
    .right-header ul {
        display: flex;
        justify-content: flex-end;
    }
    .header ul li {
        padding: 0 .5rem;
    }
    .cart-header-text {
        display: none;
    }
    .header-dropdown.active {
        display: flex;
    }
    .header-menu-content-cat {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    .header-menu-content-cat li a {
        background: var(--primary);
        border-top: 1px solid white;
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
        color: white;
    }
    .header-menu {
        position: relative;
    }
    .header-menu-content-cat.active {
        display: flex;
    }
    .footer__contacts {
        display: flex;
        margin-top: 2rem;
    }
    .footer {
        padding: 2rem 0;
    }
    .promo-text-content  {
        padding: 0 1rem;
    }
    .promo-text-content h2 {
        font-size: 40px;
    }
} 

@media (max-width: 767px) { 
    .search-input input {
        display: none;
    }
    .search-input  {
        padding: 0.5rem;
    }
    .language-picker {
        margin-right: 1rem;
    }
    .homepage__item {
        height: 350px;
    }
    .footer{
        padding: 0;
        padding-top: 1rem;
        
    }
    .newsletter-left, .newsletter-right {
        max-width: 100%;
    }
    .newsletter-right {
        margin-top: 1rem;
    }
    .newsletter-left {
        justify-content: center;
    }
    .newsletter form {
        margin: auto;
    }
    .promo-image, .promo-text {
        max-width: 100%;
    }
    .promo-image {
        order: 1;
    }
    .promo-text {
        order: 2;
    }
    .promo-text-content {
        max-width: unset;
        margin: 0;
        margin: 1rem 0;
    }
    .promo-row:nth-child(even) .promo-text {
        justify-content: flex-end;
    }
    .account-bottom {
        flex-direction: column;
        justify-content: center;
    }
    .account-bottom .btn-clear {
        width: 100%;
        max-width: unset;
        order: 1;
    }
    .account-bottom .pagination-custom {
        order: 2;
        justify-content: center;
        margin-top: 1rem;
    }
} 