@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (min-width: 576px) { 
    
}
@media (min-width: 768px) { 
    .container {
        max-width: 1080px;
    }
}
@media (min-width: 850px) { 
    .container {
        max-width: 870px;
    }
}
@media (min-width: 992px) { 
    .container {
        max-width: 1080px;
    }
}

@media (min-width: 1200px) { 
    .container {
        max-width: 1380px;
    }
}
@media (min-width: 1400px) { 
    .container {
        max-width: 1500px;
    }
}

@media (min-width: 1200px) { 
    .container {
        max-width: 1380px;
    }
}
@media (min-width: 1400px) { 
    .container.big {
        max-width: 1500px;
    }
}
@media (min-width: 1500px) { 
    .container.big {
        max-width: 1600px;
    }
}

@media (min-width: 1600px) { 
    .container.big {
        max-width: 1700px;
    }
}


img {
    max-width: 100%;
}
:root {
    --primary: #D4C0AB;
}
a, a:hover {
    color: var(--blue);
}
img {
    max-width: 100%;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-content .left-header, .header-content .right-header {
    width: 100%;
    max-width: 40%;
}
.header-content .brand-header {
    width: 100%;
    max-width: 20%;
    text-align: center;
}
.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .socials {
    display: flex;
    align-items: center;
}
.header .socials a {
    margin: 0.05rem;
    max-width: 18px;
}
.header ul li, .header ul li a {
    font-size: 20px;
}
.header ul li {
    position: relative;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    padding-bottom: 0.25rem;
    position: relative;
}
.header ul li::after {
    content: "|";
    color: #000033;
    position: absolute;
    left: -4px;
    font-size: 32px;
    opacity: 0.2;
    top: 50%;
    transform: translateY(-56%);
}
.header ul li:first-child::after, .header ul li:first-child::after {
    display: none;
}
.header ul li a {
    color: black;
}

.header-menu {
    background: var(--primary);
    display: flex;
    align-items: stretch;
    min-height: 60px;

}
.language-picker {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.header-menu-content-cat  {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.dropdown-lang li a {
    padding: .25rem;
    color: white;
    display: flex;
    background: var(--primary);
}
.header-menu-content-cat li a {
    color: black;
    font-weight: 600;
    padding: 0 0.75rem;
}
.cart-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-header-text {
    margin-left: 0.5rem;
    font-size: 15px;
    font-weight: 600;
}
.header .header-dropdown ul li,.header .header-dropdown ul li a {
    color: #293644;
    font-size: 16px;
} 
.header .header-dropdown {
    height: 100%;
    position: fixed;
    top: 88px;
    background: white;
    left: 0;
    width: 100%;
    border-top: 2px solid #00000020;
    padding: 2rem 1.5rem;
    display: none;
    justify-content: center;
}
.header .header-dropdown ul {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header .header-dropdown ul li {
    margin-bottom: 0.75rem;
}
.search-input {
    border: 1px solid black;
    background: var(--primary);
    width: 100%;
    max-width: 325px;
    display: flex;
    padding: 0 0.5rem
}
.search-input input {
    border: none;
    background: none;
    outline: none;
    border: none;   
    padding: .25rem 0rem;
}
.search-input input::placeholder {
    color: black;
    font-weight: 500;
    opacity: 1;
}
.right-header ul {
    justify-content: flex-end;
}
.header-menu-right {
    margin-left: auto;
    height: 100%;
}
.header-menu-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-menu-right {
    display: flex;
    align-items: center;
}
.header-menu-right form {
    margin: 0;
}
.search-input button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
}
.dropdown-lang {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
}
.dropdown-lang ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
.dropdown-lang ul li a {
    font-size: 16px;
    padding: .25rem 1rem;
    border-bottom: 1px solid white;
    font-weight: 600;
}
.dropdown-lang ul li:last-child a {
    border-bottom: 0;
} 
.dropdown-lang ul li a:hover {
    opacity: 0.9;
    text-decoration: none;
}
.dropdown-lang.active {
    display: flex;
}
.dropdown-lang-toggle {
    color: black;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 0 1rem;
}
.dropdown-lang-toggle:hover {
    color: black;
}
.dropdown-lang-toggle::after {
    content: url(../icons/arrow.svg);
    margin-left: 1rem;
    margin-right: .5rem;
}
.header-menu-content-cat-toggle {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    margin-right: 1rem;
}
.header-menu-content-cat-toggle:hover {
    color:black;
}
@media (min-width: 991px) { 
    .header-menu-content-cat-toggle {
        display: none;
    }
}
.header-menu-content-cat-toggle::after{
    content: url(../icons/arrow.svg);
    margin-left: 1rem;

}
.language-picker {
    margin-right: 2rem;
    align-items: stretch;
}
.language-picker:hover, .dropdown-lang ul li a {
    background: #B5977E;
}
.footer__item {
    margin-bottom: 2rem;
}
.footer__item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__item h3 {
    font-size: 16px;
    font-weight: bold;
}
.footer__item ul {
    display: flex;
    flex-direction: column;
}
.footer__item ul li a, .footer__item ul li{
    font-size: 14px;
    color: #686464;
    font-weight: 500;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    display: none;
}
.footer__contacts a, .footer__contacts p {
    color: #686464;
    font-weight: 500;
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.phone-footer::before {
    content: url(../icons/phone.svg);
    margin-right: 1rem;
}
.email-footer::before {
    content: url(../icons/mail.svg);
    margin-right: 1rem;
}
.footer {
    background: var(--primary);
    padding: 4rem 0;
}
.payment-logos {
    margin: 1rem 0;
    max-width: 200px;
}
.copyright {
    color: #686464;
}
@media (max-width: 1500px) { 
    .header ul li, .header ul li a {
        font-size: 16px;
    }
    .cart-header-text {
        font-size: 13px;
    }
    .header ul li::after {
        font-size: 24px;
    }
} 

@media (max-width: 1350px) { 
    .header ul li, .header ul li a {
        font-size: 14px;
    }
    .cart-header-text {
        font-size: 12px;
    }
    .header ul li::after {
        font-size: 22px;
    }
    .header-content .brand-header {
        max-width: 10%;
    }
    .header-content {
        padding: .5rem 0;
    }
    .header-content .left-header, .header-content .right-header {
        max-width: 45%;
    }
}
@media (max-width: 1200px) { 
    .header ul li, .header ul li a {
        font-size: 13px;
    }
    .header-menu-content-cat li a {
        font-size: 13px;
        padding: 0 0.5rem;
    }
}
@media (max-width: 991px) { 
    .header ul li::after {
        content: '';
    }
    .header-content .left-header, .header-content .right-header,.header .brand-header {
        max-width: calc(100%/3);
    }
    .header .brand-header {
        display: flex;
        justify-content: center;align-items: center;
    }
    .header .brand-header img {
        max-width: 100px;
    }
    .right-header ul {
        display: flex;
        justify-content: flex-end;
    }
    .header ul li {
        padding: 0 .5rem;
    }
    .cart-header-text {
        display: none;
    }
    .header-dropdown.active {
        display: flex;
    }
    .header-menu-content-cat {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    .header-menu-content-cat li a {
        background: var(--primary);
        border-top: 1px solid white;
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
        color: white;
    }
    .header-menu {
        position: relative;
    }
    .header-menu-content-cat.active {
        display: flex;
    }
    .footer__contacts {
        display: flex;
        margin-top: 2rem;
    }
    .footer {
        padding: 2rem 0;
    }
} 

@media (max-width: 767px) { 
    .search-input input {
        display: none;
    }
    .search-input  {
        padding: 0.5rem;
    }
    .language-picker {
        margin-right: 1rem;
    }
    .footer{
        padding: 0;
        padding-top: 1rem;
        
    }
} 